{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ note.title }}</title>
    <link href="{% static "css/css_dla_notatki.css" %}" rel="stylesheet">
</head>
<body>
<h1>{{ note.title }}</h1>
<div class="zawartosc">{{ note.content }}</div>
<div class="guziki">
    <a href="{% url 'note_edit' note.pk %}">Edytuj</a>
<form method="POST" action="{% url 'note_delete' note.pk %}">
    {% csrf_token %}
    <button type="submit">Usuń</button>
</form>
<a href="{% url 'note_list' %}">Powrót</a></div>


</body>
</html>